<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Nexora AI Chatbot</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script>
</head>
<body style="display: flex;">
  <div class="container">
    <h1>Nexora AI Assistant 🌀</h1>
    
    <textarea id="questionInput" placeholder="Ask me anything..."></textarea>
    <button onclick="sendQuestion()">Ask</button>

    <div id="responseBox">
      <h3>Detected Input Language:</h3>
      <p id="originalText"></p>
      
      <h3>Translated to English:</h3>
      <p id="translatedText"></p>

      <h3>Classification (Intent Tag):</h3>
      <p id="classification"></p>

      <h3>Bot Response:</h3>
      <p id="responseText"></p>
    </div>
  </div>
  <!-- <div class="container">
    <div class="workflow">
      <h2>Workflow</h2>
      
      <div id="processFlow" class="process-container"></div>
       <img src="/src/images/fig1.png" alt="">

    </div>
  </div> -->

  <script src="/static/script.js"></script>
</body>
</html>
